.container {
    text-align: center;
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.input-container label {
    text-align: right;
    margin: 0;
}

.input-container input[type="text"] {
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.input-container input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.main-content {
    min-height: calc(100vh - 100px);
    /* Ajuste a altura conforme necessário */
    padding-bottom: 100px;
    /* Ajuste de acordo com a altura do rodapé */
    position: relative;
}

/* Estilo para o rodapé */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.main-content {
    min-height: calc(100vh - 100px); /* Ajuste a altura conforme necessário */
    margin-bottom: 50px; /* Margem inferior para acomodar o rodapé */
    padding-bottom: 100px; /* Ajuste de acordo com a altura do rodapé */
    position: relative;
  }
