/* Estilo para o elemento "footer" (rodapé) */
footer {
    position: fixed;
    /* Define a posição como fixa (sempre visível na parte inferior) */
    bottom: 0;
    /* Alinha o rodapé na parte inferior da janela */
    width: 100%;
    /* Largura total da janela */
    background-color: #000000;
    /* Cor de fundo preta */
    color: #fff;
    /* Cor do texto branca */
    text-align: center;
    /* Centraliza o texto no rodapé */
    padding: 10px;
    /* Preenchimento interno de 10 pixels */
}

/* Estilo adicional para a classe "main-content" */
.main-content {
    min-height: calc(100vh - 100px);
    /* Define a altura mínima do elemento, calculada com base na altura da janela menos 100 pixels */
    margin-bottom: 50px;
    /* Margem inferior de 50 pixels */
    padding-bottom: 100px;
    /* Adiciona preenchimento na parte inferior de 100 pixels */
    position: relative;
}

/* Estilo para a classe "search-bar" */
.search-bar {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

/* Estilo para o input dentro da classe "search-bar" */
.search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

/* Estilo para o botão dentro da classe "search-bar" */
.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* Estiliza o espaço reservado (placeholder) do input dentro da classe "search-bar" */
.search-bar input::placeholder {
    color: #fff;
}

/* Estilo para o ícone dentro do botão da classe "search-bar" */
.search-bar button i {
    font-size: 22px;
}