/* Estilos para o quadro */
.quadro {
    width: 600px;
    /* Largura do quadro */
    margin: 20px auto;
    /* Margem de 20px nas laterais e alinhamento automático no centro */
    padding: 20px;
    /* Preenchimento interno de 20px */
    text-align: center;
    /* Centraliza o texto no centro do quadro */
    background-color: #f0f0f0;
    /* Cor de fundo do quadro */
    border: 1px solid #ccc;
    /* Borda de 1px sólida com cor #ccc */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Sombra para dar profundidade ao quadro */
    border-radius: 5px;
    /* Borda arredondada com raio de 5px */
}

/* Estilos para o combobox */
.quadro select {
    border: 1px solid #ccc;
    /* Borda de 1px sólida com cor #ccc */
    border-radius: 5px;
    /* Borda arredondada com raio de 5px */
}

/* Estilos para o botão de consulta */
.quadro .btn-primary {
    margin-top: 10px;
    /* Margem superior de 10px para separar do combobox */
    border: 1px solid #ccc;
    /* Borda de 1px sólida com cor #ccc */
    border-radius: 5px;
    /* Borda arredondada com raio de 5px */
}

/* Estilo para o rodapé */
footer {
    width: 100%;
    /* Largura total da janela */
    background-color: #000000;
    /* Cor de fundo preta */
    color: #fff;
    /* Cor do texto branca */
    text-align: center;
    /* Centraliza o texto no rodapé */
    padding: 10px;
    /* Preenchimento interno de 10 pixels */
    position: fixed;
    bottom: 0;
  }
  