body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cor de fundo da página */
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #fff; /* Cor de fundo do card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
    margin: 100px auto 60px; /* Ajuste a margem inferior para dar espaço ao rodapé */
  }
  
  .card:hover {
    transform: scale(1.05); /* Efeito de escala no hover */
  }
  
  /* Estilo para o rodapé */
  footer {
    width: 100%;
    /* Largura total da janela */
    background-color: #000000;
    /* Cor de fundo preta */
    color: #fff;
    /* Cor do texto branca */
    text-align: center;
    /* Centraliza o texto no rodapé */
    padding: 10px;
    /* Preenchimento interno de 10 pixels */
    position: fixed;
    bottom: 0;
  }
  
