/* Estilo para o rodapé */
footer {
  width: 100%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Estilo para a seção Sobre o Projeto */
.projeto {
  background-image: url('img/fundocardbranco.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Estilo para a seção Casos de Uso */
.casodeuso {
  background-image: url('img/fundo-preto11.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

/* Estilo para a seção Quem Somos */
.quemsomos {
  background-image: url('img/fundocardbranco.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Ajuste a margem inferior do conteúdo principal para acomodar o rodapé */
.main-content {
  min-height: calc(100vh - 100px); /* Ajuste a altura conforme necessário */
  margin-bottom: 50px; /* Margem inferior para acomodar o rodapé */
  padding-bottom: 100px; /* Ajuste de acordo com a altura do rodapé */
  position: relative;
}
