
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('img/fundo-preto11.jpg'); /* Caminho para a imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Para manter o fundo fixo */
}

.main-content {
  min-height: 100vh; /* Ocupa a altura total da janela do navegador */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo com transparência */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
}

/* Adicione um estilo de fundo para cada card */
.card:nth-child(odd) {
  background-image: url('img/fundocardbranco.png'); /* Caminho para a imagem de fundo */
}

.card:nth-child(even) {
  background-image: url('img/fundocardbranco.png'); /* Caminho para outra imagem de fundo */
}

/* Estilo para o rodapé */
footer {
  width: 100%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
}