/* Estilo para o elemento "body" */
body {
  font-family: Arial, sans-serif;
  /* Define a família de fontes para o corpo do documento */
  margin: 0;
  /* Remove margens padrão */
  padding: 0;
  /* Remove preenchimento padrão */
  display: flex;
  /* Exibe os elementos filhos como um flex container */
  flex-wrap: wrap;
  /* Permite que os elementos filhos quebrem para a próxima linha se não couberem */
  justify-content: center;
  /* Centraliza os elementos horizontalmente no container */
  background-image: url('img/fundo-preto11.jpg');
  /* Define uma imagem de fundo */
  background-size: cover;
  /* A imagem de fundo cobre todo o elemento */
  background-repeat: no-repeat;
  /* Impede a repetição da imagem de fundo */
  background-attachment: fixed;
  /* Mantém o fundo fixo em relação à janela de visualização */
}

/* Estilo para o elemento com a classe "main-content" */
.main-content {
  min-height: 100vh;
  /* Define a altura mínima do elemento para ocupar a altura total da janela do navegador */
  display: flex;
  /* Exibe os elementos filhos como um flex container */
  flex-wrap: wrap;
  /* Permite que os elementos filhos quebrem para a próxima linha se não couberem */
  justify-content: center;
  /* Centraliza os elementos horizontalmente no container */
  align-items: center;
  /* Centraliza os elementos verticalmente no container */
}

/* Estilo para o elemento com a classe "card" */
.card {
  width: 300px;
  /* Largura fixa do card */
  background-color: rgba(255, 255, 255, 0.8);
  /* Fundo com transparência */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* Sombra suave para o card */
  margin: 20px;
  /* Margem ao redor do card */
  text-align: center;
  /* Centraliza o texto no card */
  border-radius: 10px;
  /* Borda com raio de 10 pixels */
  padding: 20px;
  /* Preenchimento interno de 20 pixels */
  display: flex;
  /* Exibe os elementos filhos como um flex container */
  flex-direction: column;
  /* Define a direção dos elementos filhos como coluna */
  align-items: center;
  /* Centraliza os elementos filhos verticalmente */
}

/* Estilo para a imagem dentro do elemento com a classe "card" */
.card img {
  width: 150px;
  /* Largura da imagem */
  height: 150px;
  /* Altura da imagem */
  border-radius: 50%;
  /* Borda com raio de 50% para criar uma forma circular */
  object-fit: cover;
  /* A imagem se ajusta ao tamanho do contêiner mantendo sua proporção e cobrindo todo o espaço disponível */
  margin-bottom: 10px;
  /* Margem inferior da imagem */
}

/* Estilo para o título (elemento <h2>) dentro do elemento com a classe "card" */
.card h2 {
  font-size: 24px;
  /* Tamanho da fonte */
  margin-bottom: 10px;
  /* Margem inferior do título */
}

/* Estilo para o parágrafo (elemento <p>) dentro do elemento com a classe "card" */
.card p {
  font-size: 16px;
  /* Tamanho da fonte */
}

/* Estilo de fundo para cada card ímpar */
.card:nth-child(odd) {
  background-image: url('img/fundocardbranco.png');
  /* Define uma imagem de fundo específica */
}

/* Estilo de fundo para cada card par */
.card:nth-child(even) {
  background-image: url('img/fundocardbranco.png');
  /* Define outra imagem de fundo específica */
}

/* Estilo para o rodapé */
footer {
  width: 100%;
  /* Largura total da janela */
  background-color: #000000;
  /* Cor de fundo preta */
  color: #fff;
  /* Cor do texto branca */
  text-align: center;
  /* Centraliza o texto no rodapé */
  padding: 10px;
  /* Preenchimento interno de 10 pixels */
}