footer {
  position: fixed;
  /* Define a posição como fixa (sempre visível na parte inferior) */
  bottom: 0;
  /* Alinha o rodapé na parte inferior da janela */
  width: 100%;
  /* Largura total da janela */
  background-color: #000000;
  /* Cor de fundo preta */
  color: #fff;
  /* Cor do texto branca */
  text-align: center;
  /* Centraliza o texto no rodapé */
  padding: 10px;
  /* Preenchimento interno de 10 pixels */
}

/* Estilo adicional para a classe "main-content" (comentário duplicado no código original) */
.main-content {
  min-height: calc(100vh - 100px);
  /* Define a altura mínima do elemento, calculada com base na altura da janela menos 100 pixels */
  margin-bottom: 50px;
  /* Margem inferior de 50 pixels */
  padding-bottom: 100px;
  /* Adiciona preenchimento na parte inferior de 100 pixels */
  position: relative;
  /* Define a posição como relativa */
}