/* Seus estilos CSS existentes */

h2 {
    text-align: center;
    width: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.navbar {
    margin-bottom: 20px; /* Adicione uma margem na parte inferior do navbar para criar espaço */
}

.card {
    max-height: 40vh; /* Reduz a altura máxima do card */
    width: 100%; /* Aumenta a largura do card */
    max-width: 1500px; /* Aumenta a largura máxima do card */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo for muito longo */
    margin: 20px auto; /* Adicione uma margem para criar espaço abaixo do navbar */
}

.card h2 {
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group select {
    height: 30px;
}

.form-group input[type="date"] {
    height: 30px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    list-style: none;
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    color: #333;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
}

.pagination li.disabled a {
    pointer-events: none;
    background-color: #eee;
    color: #777;
}

/* Estilos para o quadro */
.quadro {
    width: 600px;
    /* Largura do quadro */
    margin: 20px auto;
    /* Margem de 20px nas laterais e alinhamento automático no centro */
    padding: 20px;
    /* Preenchimento interno de 20px */
    text-align: center;
    /* Centraliza o texto no centro do quadro */
    background-color: #f0f0f0;
    /* Cor de fundo do quadro */
    border: 1px solid #ccc;
    /* Borda de 1px sólida com cor #ccc */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Sombra para dar profundidade ao quadro */
    border-radius: 5px;
    /* Borda arredondada com raio de 5px */
}

/* Estilos para o combobox */
.quadro select {
    border: 1px solid #ccc;
    /* Borda de 1px sólida com cor #ccc */
    border-radius: 5px;
    /* Borda arredondada com raio de 5px */
}

/* Estilos para o botão de consulta */
.quadro .btn-primary {
    margin-top: 10px;
    /* Margem superior de 10px para separar do combobox */
    border: 1px solid #ccc;
    /* Borda de 1px sólida com cor #ccc */
    border-radius: 5px;
    /* Borda arredondada com raio de 5px */
}

/* Estilo para o rodapé */
table {
    margin: 0 auto;
    max-width: 60%;
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid #ffffff;
}